spring:

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:/txdb/txpractice;MODE=MYSQL;TRACE_LEVEL_FILE=4
    username: sa
    password:
    hikari:
      pool-name: core-db-pool
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 60000
      connection-timeout: 30000
      max-lifetime: 600000
      keepalive-time: 30000
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        default_batch_fetch_size: 100
    open-in-view: false

logging:
  level:
    root: INFO
    org.springframework.security: INFO